  /*inizio reset*/

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  /*fine reset*/

body{
  
    background-color: #f5f5f5; /*questi sono appunti*/
    font-family: 'Poppins', sans-serif;
}           

.container{  
    background-color: rgb(255, 255, 255);
    width: auto;
    min-width: 1440px;
    height: auto ;
    margin: 0px auto;
}

h1{
  font-weight: 600;
  color:white;
  font-size: 64px;

}
h2,p,h3{
  font-size: 18px;
  font-weight:400;
  color:white;
}


.logo{  /*inizio navigazione*/
width: 40px;
}

ul{
  font-size: 18px;
  display: flex;
  gap: 50px;


}

.link-nav{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 100px;
  background-color: #3F86DB;
  
  

  position: fixed;
  width: 100%; 
  z-index: 10;
}

.tasto-accedi{ /*fine navigazione*/
  padding: 15px 30px;
  background-color: #f5f5f5;
  color: #1E1E1E;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
}






.flex-benvenuto{ /*inizio benvenuto*/
   background: rgb(63,134,219);
   background: linear-gradient(180deg, rgba(63,134,219,1) 0%, rgba(44,168,235,1) 100%); 
   width: auto;
   height: 870px;
   padding: 150px 0px 0px 100px;
   display: flex;
   justify-content: space-between;
   
  }

 

  .sotto-headline{
    padding-top: 20px;
    margin-bottom: 40px ;
    color: #BEE8FF;
  }

  .tasti-benvenuto{
    display: flex;
    }

  .tasto-accedi-benvenuto{
     color: #1E1E1E;
     font-size: 20px;
     text-decoration: none;
     background-color: white;
     padding: 15px 30px;
     border-radius: 50px;
     font-weight: 600;
  }

  .tasto-accedi-benvenuto:hover{
    font-size: 22px;
    font-weight: bold;

  }

    .tasto-regolamento-benvenuto{
     color: white;
     font-size: 20px;
     text-decoration: none;
     padding: 12px 27px;
     border-radius: 50px;
     font-weight: 600;
     border: 3px solid white;
     margin-left: 30px;
  }

  .div-tasto-regolamento-benvenuto{
    width: 206px;
    height: 58px;
    border-radius: 60px;
   
  
 }

.tasto-regolamento-benvenuto{
  width: 206px;
  height: 58px;
}

.drago-elettrico{
  width: 700px;
  padding-right: 100px;
  
}

.benvenuto{ /*fine benvenuto*/
  margin-right: 100px;
}




.leggi-regolamento{ /*inizio leggi il regolamento*/
  background: white;
  width: auto;
  height: 512px;
  padding: 150px 0px 0px 100px;
  display: flex;
  justify-content: space-between;
}

.head-leggi-regolamento{
  color: #1E1E1E;
}

.sotto-head-leggi-regolamento{
  padding-top: 20px;
  margin-bottom: 40px ;
  color: #878787;
}

.tasto-accedi-leggi-regolamento{
  color: white;
  font-size: 20px;
  text-decoration: none;
  background-color: #3E7CFA;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 600;
}

.tasto-regolamento-leggi-regolamento{
  color:#3E7CFA;
  font-size: 20px;
  text-decoration: none;
  padding: 15px 30px; 
  border-radius: 50px;
  font-weight: 600;
}

.stregone{ /*fine leggi il regolamento*/
  padding-left: 100px;
  width: 600px;
} 



.lo-stemma{ /*inizio cos'è lo stemma?*/
  background: rgb(63,134,219);
  background: linear-gradient(180deg, rgba(63,134,219,1) 0%, rgba(44,168,235,1) 100%); 
  width: auto;
  height: 1024px;
  padding: 110px 100px 0px 100px;
} 


.text-lo-stemma{
  width: 722px;
  margin: 0px auto;
  justify-items: center;
}

.p-lo-stemma{
  line-height: 30px;
  color: #BEE8FF;
}

.stemma-gif{
  width: 700px;
  padding-top: 60px;
  text-align: center;
  margin: 0px auto;
  display: block;
}

.ciao{
  width: 600px;
  height: 600px;
  background-color: #1E1E1E;
  justify-items: center;
}

.head-lo-stemma{ /*fine cos'è lo stemma?*/
  text-align: center;
  padding-bottom: 40px;
}



.proposte{ /*inizio proposte*/
  background-color: white;
  width: auto;
  height: 512px;
  padding: 150px 0px 0px 100px;
  display:flex;
  justify-content: space-between;
}

.barbaro{
  width: 450px;
  margin-top: -97px;
  

}

.compila-form-funzionalità{
  color: #878787;
  background-color: #ECECEC;
  border-radius: 60px;
  width: 561px;
  height: 58px;
  padding-left: 40px;
  font-size: 20px;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.tasto-invia-form-funzionalità{
  background-color: #3E7CFA;
  color: white;
  width: 126px;
  height: 58px;
  border: none;
  border-radius: 60px;
  font-size: 20px;
  margin-left: 50px;
  font-family: 'Poppins', sans-serif;
}

.form-funzionalità{ /*fine proposte*/
  margin-top: 30px;
  
}


.flex-footer{
  background-color: #1E1E1E;
  width: auto;
  height: 512px;
  padding: 150px 100px 0px 100px;
  display: flex;
  justify-content: space-between;
}

.align-proposte{
  margin-top: -30px;
}

.a-sx-footer{
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  margin-top: 0px;

}

.h3-footer{
  margin-bottom: -100px;
  font-size: 20px;
  font-weight: 400;
  color: #C1C1C1;

}

.h3-footer-form{
  
  font-size: 20px;
  font-weight: 400;
  color: #C1C1C1;

}

.grid-sx-footer{
  display: grid;
  grid-template-columns: 1fr;
  
}

.form-footer{ /*fine proposte*/
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1frs;
  justify-items: center;
  gap: 20px;
  
}

.compila-form-footer{
  color: #878787;
  background-color: #ECECEC;
  border-radius: 60px;
  width: 300px;
  height: 58px;
  padding-left: 40px;
  font-size: 20px;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.orario-form-footer{
  color: #878787;
  background-color: #ECECEC;
  border-radius: 60px;
  width: 145px;
  height: 58px;
  padding-left: 40px;
  font-size: 20px;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.tasto-invia-form-footer{
  background-color: #3E7CFA;
  color: white;
  width: 126px;
  height: 58px;
  border-radius: 60px;
  font-size: 20px;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.icona-whatsapp{
  width: 60px;
  margin-top: -500px;
}




